@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    width: max-content;
    display: inline-block;
    color: #7D5A50;
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px soild #7D5A50;
    /* transition: ; */
}

.btn:hover {
    background: #B4846C;
    color: #FCDEC0;
    border-color: transparent;
}

.btn-primary {
    background: #B4846C;
    color: #FCDEC0;
}
